*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    outline: 1px solid red;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
}


.calculator {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;

}

.calculator__display {
    text-align: right;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;


}

.calculator__buttons {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.calculator__buttons button {
    padding: 1em 1em;
    border-radius: 5em;
}

.calculator__buttons__result {
    grid-column-start: 3;
    grid-column-end: 5;
}